---
:title: Wit
:commits_per_page: 50
:commit_time_format: "%Y/%m/%d"
:groups:
- My FooBar:
    :repos:
    - Foo:
        :path: /foo/.git/
        :description: Implements FooClass.
        :owner: John Doe
    - Bar:
        :path: /bar/.git/
        :description: Implements BarClass.
        :owner: Apanap Korvarsson
- My Baz:
    :repos:
    - Baz:
        :path: /baz/.git/
        :description: Optional BarClass addon.
        :owner: Jane Doe
