---
:title: Puzzles' Wit
:git_bin: git
:commit_time_format: "%Y/%m/%d %H:%M:%S"
:commits_per_page: 50
:tab_width: 4
:groups:
- :name: FooBar
  :repos:
  - :name: Foo
    :path: ~/git/foo/.git/
    :owner: You
    :description: Implements FooClass
  :repos:
  - :name: Bar
    :path: ~/git/bar/.git/
    :owner: You
    :description: Implements Barclass
    - :regexp: (ISSUE)\((\d+)\)
      :replace: \1(<a href="http://my.project/bugtracker/?id=\2">\2</a>)
      :global: true
